<?xml version="1.0" encoding="UTF-8"?>
<jcr:root xmlns:jcr="http://www.jcp.org/jcr/1.0"
          xmlns:nt="http://www.jcp.org/jcr/nt/1.0"
          jcr:primaryType="nt:unstructured"
          title="events">
    <cc15ba40-449b-4e2b-bf3b-9c02e2bf3d7e jcr:primaryType="nt:unstructured" date="27.08.2015"
            place="The Depot" city="Salt Lake City, UT"
            latitude="40.7694705" longitude="-111.9030388"
            id="cc15ba40-449b-4e2b-bf3b-9c02e2bf3d7e">
    </cc15ba40-449b-4e2b-bf3b-9c02e2bf3d7e>
    <faa14725-210e-4f7e-911a-1a0843e76c04 jcr:primaryType="nt:unstructured" date="28.08.2015"
            place="The Fillmore Auditorium" city="Denver, CO"
            latitude="39.7405594" longitude="-104.9771865"
            id="faa14725-210e-4f7e-911a-1a0843e76c04">
    </faa14725-210e-4f7e-911a-1a0843e76c04>
    <b180f740-eed3-413d-9618-b34e706f4ee0 jcr:primaryType="nt:unstructured" date="29.08.2015"
            place="Route 66 Casino" city="Albuquerque, NM"
            latitude="35.0284345" longitude="-106.9534335"
            id="b180f740-eed3-413d-9618-b34e706f4ee0">
    </b180f740-eed3-413d-9618-b34e706f4ee0>
    <ed9d37aa-30b9-4ecd-9c0d-ffb6d33c386a jcr:primaryType="nt:unstructured" date="01.09.2015"
            place="Rialto Theatre" city="Tucson, AZ"
            latitude="45.5236233" longitude="-73.6047988"
            id="ed9d37aa-30b9-4ecd-9c0d-ffb6d33c386a">
    </ed9d37aa-30b9-4ecd-9c0d-ffb6d33c386a>
    <a5e2dd7a-1f41-4456-8ca5-5d52735f4258 jcr:primaryType="nt:unstructured" date="03.09.2015"
            place="Colorado State Fair" city="Pueblo, CO"
            latitude="38.2418851" longitude="-104.6392986"
            id="a5e2dd7a-1f41-4456-8ca5-5d52735f4258">
    </a5e2dd7a-1f41-4456-8ca5-5d52735f4258>
</jcr:root>
